<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebcamViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <WebcamViewer.Properties.Settings>
            <setting name="camera_names" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Michalovce, Slovakia - Námestie osloboditeľov 01</string>
                        <string>Nowy Targ, Poland - Restaurant "U gazdy" (Kamera na Tatry)</string>
                        <string>Gelendzhik, Russia - Glavmore (Camera 2)</string>
                        <string>Poprad, Slovakia - Weather station "Funsat"</string>
                        <string>Michalovce, Slovakia - Busová stanica</string>
                        <string>Żywiec, Poland - Żywiec lake</string>
                        <string>Levoča, Slovakia - www.pocasielevoca.sk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="camera_urls" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.michalovce.sk/webcam/michalovce.sk-camera-001.jpg</string>
                        <string>http://www.ugazdy.pl/kamerka/obrazek.jpg</string>
                        <string>http://static.glavmore.ru/cam/cam-1.jpg</string>
                        <string>http://funsat.sk.d.websupport.sk/webcam/funsat.jpg</string>
                        <string>http://gecom.sk/img/kam-autobuska-orig.jpg</string>
                        <string>http://www.megasurf.pl/cam/Video01.jpg</string>
                        <string>http://www.pocasielevoca.sk/data/snimek.jpg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="camera_refreshrates" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3</string>
                        <string>3</string>
                        <string>30</string>
                        <string>10</string>
                        <string>20</string>
                        <string>3</string>
                        <string>30</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="versionid" serializeAs="String">
                <value>Update 2 Beta</value>
            </setting>
            <setting name="buildid" serializeAs="String">
                <value>20161216-01</value>
            </setting>
            <setting name="webcamengine_version" serializeAs="String">
                <value>1.2 Prerelease</value>
            </setting>
            <setting name="changelog" serializeAs="String">
                <value>Webcam Viewer Update 2 Beta - 2016.12.16; feature level 1

New features:
- New image saving panel, replacing the old "in-menu" one completely

Developer:
- Added a new UI Controls Testing page to Settings with all the UI controls listed

Early testing:
- Experimental: zSettings Early Preview
Access in menu by clicking on zSettings.
---------------------------------------------

Webcam Viewer Update 2 Beta - 2016.12.03; feature level 1

New features:
- Experimental: new Overview!
You can test the new Overview by holding down Shift on your keyboard while clicking on the Overview button in the menu.
Some features may not work just yet, it is going to get developed more and more in future builds.
---------------------------------------------

Webcam Viewer Update 2 Beta - 2016.11.16; feature level 1

New features:
- Added the ability to change the image stretching mode.

Developer:
- Added the default cameras page, with all the default cameras listed.

Logging:
- Most basic things are logged now.
---------------------------------------------

Webcam Viewer Update 2 Beta - 2016.11.12; feature level 1

User interface:
- Unified RippleDrawable inclusion
All hard-coded ripple effects are replaced with the new XeZrunner.UI RippleDrawable control which is further similiar to Google's Android Lollipop ripple.
The new ripple can no longer be moved by the user, in favor of the ripple slowly "expanding" towards the center of the control, much like on the actual operating system.
---------------------------------------------</value>
            </setting>
            <setting name="app_logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="app_debugmode" serializeAs="String">
                <value>developer</value>
            </setting>
            <setting name="app_firstrun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ui_accent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ui_theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ui_animationspeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="home_blurbehind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="home_debugoverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="home_archiveorg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="home_refreshenabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="settings_showtitlebarcolor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settings_experiment_UpdateUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="experiment_NewFileBrowserUX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="home_webcamimageBackgroundMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="home_webcamimageBackgroundMode_BlackOverride"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="app_language" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="app_prereleasechannel" serializeAs="String">
                <value>update2-development</value>
            </setting>
            <setting name="home_imagesizing" serializeAs="String">
                <value>uniform</value>
            </setting>
            <setting name="experiment_zOverview" serializeAs="String">
                <value>True</value>
            </setting>
        </WebcamViewer.Properties.Settings>
    </userSettings>
</configuration>
