<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebcamViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <WebcamViewer.Properties.Settings>
            <setting name="camera_names" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Michalovce, Slovakia - Námestie osloboditeľov 01</string>
                        <string>Michalovce, Slovakia - Námestie osloboditeľov 01 [raw]</string>
                        <string>Nowy Targ, Poland - Restaurant "U gazdy" (Kamera na Tatry)</string>
                        <string>Gelendzhik, Russia - Glavmore (Camera 2)</string>
                        <string>Poprad, Slovakia - Weather station "Funsat"</string>
                        <string>Michalovce, Slovakia - Busová stanica</string>
                        <string>Żywiec, Poland - Żywiec lake</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="camera_urls" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.michalovce.sk/webcam/michalovce.sk-camera-001.jpg</string>
                        <string>http://46.150.192.118:8001/jpg/1/image.jpg</string>
                        <string>http://www.ugazdy.pl/kamerka/obrazek.jpg</string>
                        <string>http://static.glavmore.ru/cam/cam-1.jpg</string>
                        <string>http://funsat.sk.d.websupport.sk/webcam/funsat.jpg</string>
                        <string>http://gecom.sk/img/kam-autobuska-orig.jpg</string>
                        <string>http://www.megasurf.pl/cam/Video01.jpg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="camera_refreshrates" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3</string>
                        <string>3</string>
                        <string>30</string>
                        <string>10</string>
                        <string>20</string>
                        <string>3</string>
                        <string>30</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="versionid" serializeAs="String">
                <value>Update 2 Beta</value>
            </setting>
            <setting name="buildid" serializeAs="String">
                <value>20161008-00</value>
            </setting>
            <setting name="webcamengine_version" serializeAs="String">
                <value>1.2 Prerelease</value>
            </setting>
            <setting name="changelog" serializeAs="String">
                <value>Webcam Viewer Update 2 Beta - 2016.10.08; feature level 0

Fixes:
- Autorefresh now stops when changing cameras, saving, or switching to a different page. This fixes many bugs with the image loading and autorefresh enabled.

Minor enchancements, tweaks &amp; fixes
- Settings toggles now have a bigger, circular background for the mouse down animation.

Developer features
- A new "Internal settngs" page is available for the developer and internal channels. Right now the only working and useful page is the "Debug log", which allows you to see the new debug log.
- Debug logging is here, a toggle in the Developer settings has been added. It is enabled by default in developer, testing and internal builds. Release builds will have this disabled.
- The debug log page of Internal settings has been improved. There's a new toolbar with options like refreshing, deleting the log file and testing logging.</value>
            </setting>
            <setting name="app_logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="app_debugmode" serializeAs="String">
                <value>developer</value>
            </setting>
            <setting name="app_firstrun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ui_accent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ui_theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ui_animationspeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="home_blurbehind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="home_debugoverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="home_archiveorg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="home_refreshenabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="settings_showtitlebarcolor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settings_experiment_UpdateUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="experiment_NewFileBrowserUX" serializeAs="String">
                <value>False</value>
            </setting>
        </WebcamViewer.Properties.Settings>
    </userSettings>
</configuration>
